<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ReimburseApp</display-name>
  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeRegisterController</display-name>
    <servlet-name>EmployeeRegisterController</servlet-name>
    <servlet-class>com.reimburse.controller.EmployeeRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegisterController</servlet-name>
    <url-pattern>/EmployeeRegisterController/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerRegisterController</display-name>
    <servlet-name>ManagerRegisterController</servlet-name>
    <servlet-class>com.reimburse.controller.ManagerRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerRegisterController</servlet-name>
    <url-pattern>/ManagerRegisterController/*</url-pattern>
  </servlet-mapping>
  <description></description>
  <servlet>
    <display-name>EmployeeLoginController</display-name>
    <servlet-name>EmployeeLoginController</servlet-name>
    <servlet-class>com.reimburse.controller.EmployeeLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginController</servlet-name>
    <url-pattern>/EmployeeLoginController/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerLoginController</display-name>
    <servlet-name>ManagerLoginController</servlet-name>
    <servlet-class>com.reimburse.controller.ManagerLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginController</servlet-name>
    <url-pattern>/ManagerLoginController/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manager_SupervisorRegisterController</display-name>
    <servlet-name>Manager_SupervisorRegisterController</servlet-name>
    <servlet-class>com.reimburse.controller.Manager_SupervisorRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager_SupervisorRegisterController</servlet-name>
    <url-pattern>/Manager_SupervisorRegisterController/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manager_SupervisorLoginController</display-name>
    <servlet-name>Manager_SupervisorLoginController</servlet-name>
    <servlet-class>com.reimburse.controller.Manager_SupervisorLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager_SupervisorLoginController</servlet-name>
    <url-pattern>/Manager_SupervisorLoginController/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeReimbursementController</display-name>
    <servlet-name>EmployeeReimbursementController</servlet-name>
    <servlet-class>com.reimburse.controller.EmployeeReimbursementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeReimbursementController</servlet-name>
    <url-pattern>/EmployeeReimbursementController/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerReimbursementController</display-name>
    <servlet-name>ManagerReimbursementController</servlet-name>
    <servlet-class>com.reimburse.controller.ManagerReimbursementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerReimbursementController</servlet-name>
    <url-pattern>/ManagerReimbursementController/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.reimburse.controller.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerReviewRequestController</display-name>
    <servlet-name>ManagerReviewRequestController</servlet-name>
    <servlet-class>com.reimburse.controller.ManagerReviewRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerReviewRequestController</servlet-name>
    <url-pattern>/ManagerReviewRequestController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ManagerListController</display-name>
    <servlet-name>ManagerListController</servlet-name>
    <servlet-class>com.reimburse.controller.ManagerListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerListController</servlet-name>
    <url-pattern>/ManagerListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServletTwo</display-name>
    <servlet-name>DispatcherServletTwo</servlet-name>
    <servlet-class>com.reimburse.controller.DispatcherServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServletTwo</servlet-name>
    <url-pattern>/api2/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerRequestApprovalController</display-name>
    <servlet-name>ManagerRequestApprovalController</servlet-name>
    <servlet-class>com.reimburse.controller.ManagerRequestApprovalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerRequestApprovalController</servlet-name>
    <url-pattern>/ManagerRequestApprovalController/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServletThree</display-name>
    <servlet-name>DispatcherServletThree</servlet-name>
    <servlet-class>com.reimburse.controller.DispatcherServletThree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServletThree</servlet-name>
    <url-pattern>/api3/*</url-pattern>
  </servlet-mapping>
</web-app>